/*Форма обратной связи*/
.feedback-modal-window {
  background-color: #f8f7f4;
  color: #323232;
}


/*Авторизация*/
.form-of-authorization {
  background-color: #f8f7f4;
}

.form-of-authorization a {
  color: #323232;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  text-decoration: underline;
}

.form-of-authorization fieldset {
  border: none;
}
