.about-us {
  font-size: 16px;
  line-height: 22px;
  color: #323232;
  background-color: #ebdfc4;
  background-image: url(../img/pattern-1.jpg);
  
}

.about-us h2 {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
}
