.first-promotion {
  margin: 0;
  width: 560px;
  border-radius: 20px;
  background-color: #c1264c;
  background-image: url(../img/rapsberry-background1.jpg);
  background-repeat: no-repeat;
}

.first-promotion__name {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.first-promotion__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
