.how-to-get {
  background-color: #d2c8ad;
  background-image: url(../img/map.jpg);
  color: #323232;
}


.adress-form span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}

.adress-form b {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}

span.working-time {
  line-height: 22px;
}

b.phone-number {
  line-height: 22px;
}
