.new-in-blog {
  width: 560px;
  color: #323232;
  background-color: #fff;
  background-image: url(../img/strawberry-background.jpg);
  background-repeat: no-repeat;
}

.new-in-blog h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.new-in-blog a {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-decoration: underline;
}
