.product-list * {
  border: 1px solid #000;
}

.product-list__items {
  list-style: none;
}

.icecream a {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  color: $white;
}

.icecream img {
  border-radius: 50%;
  border: none;
}
