.product-list {

}

.product-list__items {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}

.icecream p {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-decoration: underline;
  color: $white;
}

.icecream {
  width: 267px;
}
.icecream-price {
  color: $white;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-decoration: none;
}
