.product-list {
  margin: 0;
  margin-bottom: 40px;
}

.product-list__items {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choise-icecream {
  position: relative;
}

.choise-icecream:hover p span{
  color: #ffbc9e;
  border-color: #ffbc9e;
}

.choise-icecream::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  background-image: url(../img/hit-product.svg);
  background-repeat: no-repeat;
}

.icecream p {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
  text-align: center;
  // text-decoration: underline;
  color: $white;
}

.icecream p span {
  border-bottom: 1px solid rgba(255,255,255,0.2);
}

.icecream img {
  border-radius: 50%;
  margin-bottom: 5px;
}

.icecream {
  width: 267px;
}
.icecream-price {
  position: absolute;
  bottom:14px;
  left: 0;

  color: $white;
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
  text-decoration: none;
}

.icecream-price span {
  font-size: 30px;
}

.icecream-price img {
  position: absolute;
  left: 82px;
  top: 5px;
}
