.second-promotion {
  margin: 0;
  padding: 20px;
  width: 560px;
  border-radius: 20px;
  background-color: #432719;
  background-image: url(../img/chocolate-background.jpg);
  background-repeat: no-repeat;
}

.second-promotion__name {
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.second-promotion__text {
  margin: 0;
  margin-bottom: 43px;
  padding: 0;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}


.second-promotion .promotion-button {
  margin-left: auto;
  padding: 12px 23px;
  display: block;
  width: 189px;
  text-align: center;
}
