.second-promotion {
  background-color: #432719;
  background-image: url(../img/chocolate-background.jpg);
  background-repeat: no-repeat;
}

.second-promotion__name {
  font-size: 35px;
  line-height: 41px;
  font-weight: 700;
}

.second-promotion__text {
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
}
