.subscribe-email {
  width: 550px;
  margin: 0;
  padding: 0;
  padding-top: 30px;
  padding-left: 23px;
  padding-right: 15px;
  border-radius: 20px;
  font-size: 16px;
  line-height: 22px;
  color: #5a5a5a;
  background-color: #f8f7f4;

  // background-image: repeating-linear-gradient(135deg,
  //   #fff , #fff 10px, #92cdff 9px, #92cdff 19px, #fff 19px, #fff 29px, #fe9e90 29px, #fe9e90 39px);
}

.repeat-gradient-wrapper {
  border-radius: 20px;
  padding: 5px;
  background-image: repeating-linear-gradient(135deg,
    #fff , #fff 10px, #92cdff 9px, #92cdff 19px, #fff 19px, #fff 29px, #fe9e90 29px, #fe9e90 39px);
}

.subscribe-email fieldset {
  border: none;
  padding: 0;
}

.subscribe-email p {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.subscribe-email input {
  width: 350px;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #000;
  padding: 0;
  padding: 9px 9px 9px 15px;
  margin-right: 10px;
  margin-bottom: 34px;
  border: 1px solid #d3d3d2;
  border-radius: 3px;

  &::placeholder {
    color: #999;
    font-weight: 400;
  }

  &:hover {
    border: 2px solid #c7c6c5;
    padding: 8px 8px 8px 14px;
  }
}



.subscribe-email .button {
  font-size: 18px;
  line-height: 24px;
  padding: 0;
  padding: 10px 20px;
  cursor: pointer;
}
