.main-header {
  color:$white;
  margin-bottom: 264px;
}

.inner-page .main-header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.header-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
}

.main-navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  width: 969px;
}

.main-header__logo {
  margin: 0;
  margin-top: 14px;
  margin-right: 24px;
  width: 165px;
  height: 64px;

}

.site-navigation,
.user-navigation,
.dropdown-list {
  list-style: none;

}

.site-navigation a {
  color: $white;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color:#333333;
  background-color: #f7f6f3;
  border-radius: 35px;
}

.site-navigation {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.site-navigation a {
  display: block;
  margin: 0;
  padding: 10px 14px;
}

.user-navigation {
  margin: 0;
  padding: 0;
  margin-left: auto;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-start;
  // background-color: rgba(24,232,21, 0.1);
}

.user-navigation button {
  color: $white;
  background-color: transparent;
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

  padding: 0;
}

.user-navigation li:first-child {
  background-color:rgba(255,255,255, 0.2);
  border-radius: 50%;

}

.user-navigation__search {
  height: 33px;
  width: 33px;
  background-image: url(../img/loup2.svg);

  background-repeat: no-repeat;
  background-position: 0 0;


}

.user-navigation button:hover,
.user-navigation button:focus {
  background-color: #f8f7f4;
  color: #323232;
}

.main-header p {
  text-align: right;
  margin-bottom: 0;
}

.main-header__work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header__phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.dropdown-list {
  display: none;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
