.main-header {
  color:$white;
  margin-bottom: 270px;
}

.inner-page .main-header {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.header-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-start;
}

.main-navigation {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  // width: 969px;
}

.main-header__logo {
  margin: 0;
  margin-top: 10px;
  // margin-right: 24px;
  width: 165px;
  height: 64px;

}

.site-navigation,
.user-navigation,
.dropdown-list {
  list-style: none;

}

.site-navigation a {
  color: $white;
  line-height: 18px;
  font-weight: 700;
}

.site-navigation a:hover,
.site-navigation a:focus{
  color:#333333;
  background-color: #f7f6f3;
  border-radius: 35px;
}

.site-navigation {
  margin: 0;
  margin-top: 22px;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.site-navigation li>a {
  display: block;
  margin: 0;
  padding: 10px 14px;
  position: relative;
}

.dropdown-catalog {
  position: relative;

  .dropdown-list {
    display: none;
    width: 144px;
    margin: 0;
    padding: 0;
    position: absolute;
    top:45px;
    right: -50px;

    background-color: #f8f7f4;
    border-radius: 5px;

    li:first-child a {
      position: relative;
      font-weight: 700;
      margin-bottom: 10px;
    }

    li:first-child a:before {
      content: "";
      position: absolute;
      width: 128px;
      height: 1px;
      top: 30px;
      right: 10px;
      background-color: rgba(0, 0, 0, 0.2);
    }

    li {
      margin: 0;
      padding: 0;

      a {
        white-space: nowrap;

        width: auto;
        padding: 0;
        padding: 5px 20px;
        font-size: 14px;
        line-height: 16px;
        font-weight: 400;
        color: #323232;
      }

      a:hover{
        background-color: #fbded7;
        border-radius: 0;
      }
      a:active {
        background-color: #f6b5a5;
      }
      a:focus {
        background-color: #d07058;
        border-radius: 0
      }
    }
  }
}

.dropdown-catalog:hover .dropdown-list {
  display: block;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}

 .site-navigation__line-1::after {
  content: "";
  position: absolute;
  left: 15%;
  bottom: 21%;

  width: 60px;
  height: 1px;

  background-color: rgba(255, 255, 255, 0.2);
}

.site-navigation__line-2::after {
 content: "";
 position: absolute;
 left: 8.5%;
 bottom: 21%;

 width: 142px;
 height: 1px;

 background-color: rgba(255, 255, 255, 0.2);
}

.site-navigation__line-2::after {
 content: "";
 position: absolute;
 left: 8.5%;
 bottom: 21%;

 width: 142px;
 height: 1px;

 background-color: rgba(255, 255, 255, 0.2);
}

.site-navigation__line-3::after {
 content: "";
 position: absolute;
 left: 12.5%;
 bottom: 21%;

 width: 90px;
 height: 1px;

 background-color: rgba(255, 255, 255, 0.2);
}




.user-navigation {
  margin: 0;
  margin-top: 21px;

  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  align-items: flex-start;

}

.user-navigation button {
  font-family: inherit;
  color: $white;
  background-color: rgba(255,255,255, 0.2);
  border: none;
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;

}

.user-navigation li {
  margin-left: 10px;
}



.user-navigation__search {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.user-navigation__search:hover,
.user-navigation__enter:hover,
.user-navigation__empty-basket:hover,
.user-navigation__search:focus,
.user-navigation__enter:focus,
.user-navigation__empty-basket:focus {
  background-color: #fff;
  color: #323232;
}

.user-navigation__search img {
  text-align: center;
  vertical-align: middle;
}

.user-navigation__search:hover img,
.user-navigation__search:focus img {
  filter: invert(100%);
}

.user-navigation__enter {
  padding: 8px 17px 10px 45px;
  border-radius: 35px;
  position: relative;
}



.user-navigation__enter::before {
  content: "";

  width: 21px;
  height: 19px;

  position: absolute;
  left: 16px;
  top: 8px;

  background-image: url(../img/enter.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation__empty-basket {
  padding: 8px 35px 10px 45px;
  border-radius: 35px;
  position: relative;

}

.user-navigation__empty-basket::before {
  content: "";

  width: 21px;
  height: 19px;

  position: absolute;
  left: 16px;
  top: 8px;

  background-image: url(../img/basket2.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.user-navigation__enter:hover::before,
.user-navigation__empty-basket:hover::before,
.user-navigation__enter:focus::before,
.user-navigation__empty-basket:focus::before {
  filter: invert(100%);
}

.searh-modal {
  position: relative;

  form {
    display: none;
    position: absolute;
    top: 38px;
    right: 0;
    border-radius: 5px;
    width: 340px;
    background-color: #f8f7f4;
    padding: 20px 16px;


  }
}

.modal-inputs {
font-family: inherit;
color: #999;
font-size: 14px;
line-height: 24px;
width: 100%;
border: 1px solid #d3d3d2;
border-radius: 3px;
padding: 8px 15px;

}

.searh-modal:hover form,
.enter-modal:hover div {
  display: block;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);

}

.enter-modal {
  position: relative;

  div {
    display: none;
    position: absolute;
    top: 38px;
    right: 0;
    width: 280px;
    background-color: #f8f7f4;
    padding: 20px;
    border-radius: 5px;
    z-index: 2;

    input {
      margin-bottom: 21px;
    }

    button {
      font-size: 18px;
      line-height: 24px;
      font-weight: 700;
      padding: 13px 25px;
      float: left;
      margin-right: 20px;
    }

    a {
      color: #323232;
      font-size: 13px;
      line-height: 24px;
      font-weight: 400;

      span {
        border-bottom: 1px solid #adacaa;
      }
    }
  }
}


.main-header p {
  margin: 0;
  text-align: right;

}

.main-header__work-time {
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.main-header__phone-number {
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
}

.breadcrumbs-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
}
