.all-creamy-icecream {
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;

  color: $white;
}

.all-creamy-icecream p {
  text-decoration: underline;
}

.all-creamy-icecream ul {
  list-style: none;
}

.pagination-list {
  width: 230px;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  color: $white;
}

.pagination-item-current {
  color: #323232;
}

.creamy-icecreams {
  margin: 0;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  
}

.icecream-item {
  width: 267px;
  margin-right: 26px;
}

.icecream-item img {
  height: 267px;
}

.icecream-item:nth-child(4n) {
  margin-right: 0;
}
