.current-page>a
 {
  background-color: #d07058;
  color: $white;
  border-radius: 35px;
}

.inner-page .user-navigation__basket {
  padding: 8px 35px 10px 45px;
  padding-right: 20px;
  border-radius: 35px;
  position: relative;
  background-color: #fff;
  color: #323232;
  font-size: 14px;
}

.basket-hover {
  position: relative;
}

.basket-hover:hover .basket-table {
  display: block;
}

.user-navigation__basket::before {
  content: "";

  width: 21px;
  height: 19px;

  position: absolute;
  left: 16px;
  top: 6px;

  background-image: url(../img/basket.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.basket-table {
  display: none;
  border-radius: 5px;
  padding: 20px 15px 20px 20px;
  width: 540px;
  background-color: #f8f7f4;
  position: absolute;
  right: 0;
  top: 38px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  z-index: 2;

}

.basket-items__all-price {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;

}

.basket-items {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  // border-collapse: collapse;
  border-spacing: 5px 0;
  color: #323232;
  border-bottom: 1px solid #cacac7;
  margin-bottom: 15px;

}

.icecream-name {
  width: 270px;
  margin-right: 5px;
}

.basket-items caption {
  caption-side: bottom;
  text-align: right;
  padding-top: 15px;
}

.basket-items td span {
  color: #999999;
}

.basket-items button {
  position: relative;
  width: 10px;
  height: 10px;
}

.basket-table a {
  display: block;
  padding: 14px 16px;
  width: 170px;
  margin-left: auto;
  text-align: center;
}

.basket-items button::before,
.basket-items button::after {
  content: "";

  position: absolute;
  left: 0;
  width: 11px;
  height: 1px;
  background-color: #231f20;
}

.basket-items button::before {
  transform: rotate(45deg);
}

.basket-items button::after {
  transform: rotate(-45deg);
}


.breadcrumbs-wrapper {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  padding-top: 26px;
  list-style: none;
  color: $white;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
}

.breadcrumbs a, .breadcrumbs li {
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;

  color: $white;
}

.breadcrumbs li {
  margin-right: 8px;
}

.current-page {
  cursor:default;
}
