.pagination-list {
  list-style: none;
  width: 200px;
  margin: 0;
  margin-left: auto;
  padding: 0;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;

  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: flex-end;

  color: $white;

  .pagination-item {
    cursor: pointer;
    margin-left: 2px;
  }
}

.pagination-item:first-child {
  margin-right: 4px;
}

// .pagination-item:last-child {
//   margin-left: 4px;
// }

.pagination-item a{
  color: #fff;
}


.pagination-item-current a {
  color: #323232;
  align-self: center;
}

.pagination-item {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}

.pagination-item-current {
  background-color: #fff;
  width: 26px;
  height: 26px;
  border-radius: 50%;
}


.pagination-item:not(.pagination-item-current):not(:first-child):not(:last-child):hover{
  background-color: rgba(#fff, 0.2);
}


.pagination-item:not(.pagination-item-current):not(:first-child):not(:last-child):active {
  background-color: #ffffff;
}

.pagination-list .pagination-item:active a {
  color: #323232;
}

.right-arrow {
  margin-left: auto;
}

.left-arrow svg {
  transform: rotate(180deg);
}

.left-arrow path {
  fill:rgba(white, 0.2);
}

.rugh-arrow path {
  fill:rgba(white, 1);
}
