*, *::before, *::after {
box-sizing:inherit;
}

html {
  box-sizing:border-box;
  background-color: #fff;
}

content-box-component {
  box-sizing:content-box;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
}

body {
  margin: 0;
  padding: 0;
  max-width: 1200px;
  margin: 0 auto;

  font-family: 'Roboto',Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  color: #ffffff;
  background-image: url(../img/backlight.png);


}

.slider-1 {

  background-image: url(../img/promoaction-1.png);
  background-color: #87a092;

  background-position: center top;
  background-repeat: no-repeat;
  transition: background-color 0.6s linear;
  transition: background-image 0.3s linear;
}

.slider-2 {

  background-image: url(../img/promoaction-2.png);
  background-color: #8996a6;

  background-position: center top;
  background-repeat: no-repeat;
  transition: background-color 0.6s linear;
  transition: background-image 0.3s linear;
}

.slider-3 {

  background-image: url(../img/promoaction-3.png);
  background-color: #9d8b84;

  background-position: center top;
  background-repeat: no-repeat;
  transition: background-color 0.6s linear;
  transition: background-image 0.3s linear;
}


a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.button {
  color:#fff;
  background-image: linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  border: none;
  border-radius: 40px;
}

.button:hover,
.button:focus {
  background-color: #e76348;
  background-image: linear-gradient( 90deg, rgba(255,255,255,0.2) 0%, rgba(255,255,255,0.2) 100%);

  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
}

.button:active, {
  background-image: linear-gradient( 90deg, rgb(242,104,67) 0%, rgb(231,74,53) 100%);
  box-shadow: inset 0px 2px 2px 0px rgba(148, 39, 24, 0.64);
}

.inner-page {
  background-image: none;
  background-image: url(../img/backlight.png);
  background-position: 0 0;
  background-repeat: repeat-x;
}
