.main-footer {
  color: #fefefe;
}

.footer-social,
.footer-about-us {
  list-style: none;
}

.main-footer a {
  color: #fefefe;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.main-footer p {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  font-weight: 400;
}
