.main-footer {
  margin-top: 50px;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  color: #fefefe;
}

.footer-social,
.footer-about-us {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-footer a {
  color: #fefefe;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.main-footer p {
  font-size: 12px;
  line-height: 18px;
  color: #fefefe;
  font-weight: 400;
}
